<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.startup.startupProject.data.mapper.ScriptMapper">

    <select id="selectDailyScript" resultType="daily">
        SELECT dailyno, dascript from daily
    </select>

    <select id="selectBusinessScript" resultType="business">
        SELECT BusinessNo, BuScript from business
    </select>

    <select id="selectMovieScript" resultType="movie">
        SELECT MovieNo, MoScript from movie
    </select>

    <select id="selectDramaScript" resultType="drama">
        SELECT DramaNo, DraScript from drama
    </select>
</mapper>
