body{
  margin: 0; padding: 0;
  font-family: 'neuwelt_Bold';

}

body::-webkit-scrollbar {
  display: none;
}


@font-face {
  font-family: 'neuwelt_Bold';
  src: url('../public/font/NeuweltText-Bold.ttf');
}

@font-face {
  font-family: 'neuwelt_Thin';
  src: url('../public/font/NeuweltText-Thin.ttf');
}

@font-face {
  font-family: 'neuwelt_Light';
  src: url('../public/font/NeuweltText-Light.ttf');
}

@font-face {
  font-family: 'neuwelt_Medium';
  src: url('../public/font/Neuwelt-Medium.ttf');
}

@font-face {
  font-family: 'bodoniXT';
  src: url('../public/font/BodoniXT.ttf');
}