.viewWrap {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 100000;
}

.viewWrap .view{
    position: relative;
    top: calc(50% - 40vh);
    left: calc(50% - 35vw);
    width: 70vw;
    height: 75vh;
    /*background-color: rgb(232, 237, 240);*/
    border-radius: 50px;
    overflow: hidden;
}

.viewWrap .view .xWrap{
    position: absolute;
    top: 2.5vh;
    right: 1.5vw;
    background-color: rgba(0, 0, 0, 0.5);
    width: 40px;
    height: 40px;
    border-radius: 50%;
    z-index: 0;
}

.viewWrap .view .xWrap span{
    position: absolute;
    display:inline-block;
    width: 24px;
    height: 3px;
    top: calc(50% - 2px);
    left: calc(50% - 12px);
    background-color: white;
    z-index: 0;
}
.viewWrap .view .xWrap .x1{
    transform: rotate(45deg);
}
.viewWrap .view .xWrap .x2{
    transform: rotate(-45deg);
}

.viewWrap .view .scDataView{
    text-align: center;
}

.viewWrap .view .scDataView span{
    display: block;
    margin: 0;
    padding: 2% 3% 4% 3%;
    font-size: 2em;
    text-align: left;
    color: white;
}

.viewWrap .view .scDataView .scTxt{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 50vh;
}

.viewWrap .view .scDataView p{
    position: inherit;
    margin: 0 auto;
    padding: 0;
    width: 90%;
    display: block;
}

.viewWrap .view .scDataView p:nth-of-type(1){
    font-size: 3.5em;
    padding: 0 0 3vh 0;
}

.viewWrap .view .scDataView p:nth-of-type(2){
    font-size: 1.5em;
    color: rgba(0,0,0,0.6);
}

.se{
    width: 100%;
    height: 100%;
    background-color: #299fff;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

.ce1{
    width: 120vw;
    height: 100vh;
    border-radius: 50% 50% 0 0;
    background-color: rgb(232, 237, 240);
    position: absolute;
    transform: rotate(10deg);
    top: 10%;
    left: -10%;
    z-index: -1;
}






