.listWrap{
    font-family: 'neuwelt_Medium';
    margin: 0;
    padding: 0;
    width: 18vw;
    height: 100vh;
    box-shadow: rgb(178, 178, 178) 0px 0px 20px;
    background-color: #0554F2;
}

.listWrap ul{
    font-size: 1.25em;
    margin: 0 0 0 0;
    padding: 90px 0 0 0;
    width: 100%;
    display: block;
}

.listWrap ul li{
    margin : 0;
    width: 100%;
    display: inline-block;
    border: 0.5px solid ;
    box-sizing: border-box;
    border-right: none;
    border-left: none;
    text-align: left;
    padding: 3vh 0 3vh 3vw;
    color : white;
}