.listWrap{

    /* background-color: #0554F2; */

}

.listWrap .funcList{
    margin: 0 0 0 0;
    padding: 90px 0 0 0;
    z-index: 100;
    position: fixed;
    font-family: 'neuwelt_Medium';
    width: 15vw;
    height: 100vh;
    box-shadow: rgb(178, 178, 178) 0px 0px 20px;
    background-color: white;
}

.listWrap .funcList li{
    margin : 0;
    width: 100%;
    height: 40px;
    display: inline-block;
    text-align: left;
    padding: 3vh 0 3vh 0;
    position: relative;
    border: none;
    cursor: pointer;
}

.listWrap .funcList li p{
    padding: 0 0 0 3vh;
    font-size: 2em;
    color : #0554F2;
    font-family: 'neuwelt_Medium';
    position: absolute;
    z-index: 1000;

    /*드래그 방지*/
    -webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none;
    /*--------*/
}

.listWrap .funcList li span{
    display: inline-block;
    position: absolute;
    height: 1px;
    width: 100%;
    left: 0;
    bottom: 0;
    background-color: #0554F2;
}