.recordWrap{
    width: 82vw;
    height: 20vh;
}

.recordWrap button{
    position: absolute;
    top: 69vh;
    left: calc(50% - 125px);
    border: none;
    border-radius: 50px;
    font-size: 1.5em;
    font-family: 'neuwelt_Medium';
    width: 250px;
    height: 60px;
    background-color: #0554F2;
    color: white;
    display: inline-block;
}

.audioWrap{

}

.audioWrap audio{
    display: inline-block;
    width: 300px;
    position: absolute;
    left: calc(50% - 150px);
}
