.recordWrap{
    width: 82vw;
    height: 100vh;
    position: relative;
    display: inline-block;
}

.recordWrap button{
    position: absolute;
    top: 45vh;
    left: 36vw;
    border: none;
    border-radius: 50px;
    font-size: 1.5em;
    font-family: 'neuwelt_Medium';
    width: 250px;
    height: 60px;
    background-color: #0554F2;
    color: white;
}