/*.recordWrap{*/
/*    width: 82vw;*/
/*    height: 20vh;*/
/*}*/

.recordWrap button{
    position: absolute;
    top: 82%;
    left: calc(50% - 125px);
    border: none;
    border-radius: 50px;
    font-size: 1.5em;
    font-family: 'neuwelt_Medium';
    width: 250px;
    height: 60px;
    background-color: #0554F2;
    color: white;
    display: inline-block;
}

.recordWrap button .stop{
    position: static;
    font-size: 1em;
    width: 200px;
    text-align: right;
    margin: 0;
    padding: 0;
}

.audioWrap{

}

.audioWrap audio{
    display: none;
    width: 300px;
    position: absolute;
    left: calc(50% - 150px);
}
