.SDLwrap{
    margin: 0 0 0 20vh ;
    z-index: 1;
    overflow-x: scroll;
}
.SDLwrap::-webkit-scrollbar{
    border: none;
}

.SDLwrap p{
    position: fixed;
    font-family: 'neuwelt_Medium';
}
.SDLwrap p:nth-of-type(1){
    font-size: 3em;
    top: 8vh;
    left: 20vw;
}
.SDLwrap p:nth-of-type(2){
    font-size: 2.25em;
    color: black;
    width: 1000px;
    top: 16vh;
    left: 20vw;
}

.subDataWrap{
    height: 50vh;
    width: fit-content;
    margin: calc(50vh - 25vh) 0 2vh 5vw;
    padding: 0;
    display: flex;
    align-items: center;
}

.subDataWrap li{
    border: none;
    border-radius: 25px;
    box-shadow: rgba(0, 0, 0, 0.5) 5px 15px 15px;
    font-size: 1.5em;
    width: 250px;
    height: 300px;
    background-color: #0554f2;
    margin: 0 1vw;
    padding: 0;
    color: white;
}

.subDataWrap li:nth-of-type(1){
    margin: 0 1vw 0 3vw;
}
.subDataWrap li:last-of-type{
    margin: 0 5vw 0 1vw;
}

.subDataWrap li .scP{
    position: inherit;
    text-align: center;
    width: 80%;
    margin: 0 auto;
    font-size: 1em;
}

.wheelP{
    position: fixed;
    bottom: 16vh;
    left: 20vw;
    width: 400px;
    font-size: 2.5em;
    font-family: 'neuwelt_Medium';
}