/*ul*/
.subDataWrap{
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    z-index: -1;
}

.subDataWrap li{
    border: none;
    border-radius: 25px;
    box-shadow: gray 5px 10px 10px;
    font-size: 1.5em;
    width: 250px;
    height: 300px;
    line-height: 50%;
    background-color: #0554f2;
    margin: 0 1vw;
    color: white;
}

.subDataWrap li:nth-of-type(1){
    margin: 0 1vw 0 20vw;
}