.SDLwrap{
    margin: 0 0 0 20vh ;
    z-index: 1;
    overflow-x: scroll;
}
.SDLwrap::-webkit-scrollbar{
    border: none;
}

.SDLwrap p{
    position: fixed;
    font-family: 'neuwelt_Medium';
}
.SDLwrap p:nth-of-type(1){
    font-size: 3em;
    top: 8vh;
    left: 20vw;
}
.SDLwrap p:nth-of-type(2){
    font-size: 2.25em;
    color: black;
    width: 1000px;
    top: 16vh;
    left: 20vw;
}

.subDataWrap{
    height: 50vh;
    width: fit-content;
    margin: calc(50vh - 25vh) 0 2vh 5vw;
    padding: 0;
    display: flex;
    align-items: center;
}

.subDataWrap li{
    border: 4px solid lightgrey;
    border-radius: 25px;
    box-shadow: rgba(0, 0, 0, 0.5) 5px 15px 25px;
    font-size: 2em;
    width: 250px;
    height: 350px;
    background-color: #ffffff;
    margin: 0 1vw;
    padding: 0;
    color: black;
    position: relative;
    overflow: hidden;
    transition: 0.5s;
}

.subDataWrap li:hover{
    border: 4px solid #0554F2;
}

.subDataWrap li:nth-of-type(1){
    margin: 0 1vw 0 3vw;
}
.subDataWrap li:last-of-type{
    margin: 0 5vw 0 1vw;
}

.subDataWrap li .tContentWrap{
    z-index: 100;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    justify-content: space-between;
}

.subDataWrap li span{
    position: static;
    display: block;
}

.subDataWrap li span:nth-of-type(1){
    text-align: left;
    margin: 10px 0 0 20px;
}
.subDataWrap li span:nth-of-type(2){
    text-align: left;
    margin: 0 20px 10px 0;
}

.subDataWrap li span:nth-of-type(1){
    top: 5%;
    left: 10%;
}
.subDataWrap li span:nth-of-type(2){
    bottom: 5%;
    right: 10%;
    transform: rotate(180deg);
}

.subDataWrap li .scP{
    position: inherit;
    text-align: center;
    width: 80%;
    margin: 0 auto;
    font-size: 0.8em;
}

.subDataWrap li .elem{
    position: absolute;
    z-index: 1;
    transition: 0.5s;
    top: 35%;
    left: 45%;
    width: 500px;
    height: 500px;
    background-color: rgba(189, 231, 255, 0.31);
    transform: rotate(35deg);
}

.wheelP{
    position: fixed;
    bottom: 16vh;
    left: 20vw;
    width: 400px;
    font-size: 2.5em;
    font-family: 'neuwelt_Medium';
}