header{
    z-index: 10000;
    font-size: 1.5em;
    width: 100vw;
    height: 80px;
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
    position: fixed;
}

.logo{
    padding : 0;
    color: #0554F2;
    font-family: 'neuwelt_Medium';
    display: flex;
}

.logo .logoText{
    font-size: 1.65em;
    width: 180px;
    text-align: center;
    margin: 0;
    padding: 10px 0;
}

.hamWrap{
    width: 80px;
    height: 50px;
    position: relative;
}

.ham{width: 45px; height: 5px; border-radius: 100px; background-color: rgb(66, 66, 66); position: absolute;}
.h1{top: 0px;}
.h2{top: 15px;}
.h3{top: 30px;}

.children{
    background-color: #bed9f1;
    width: 250px;
    height: 400px;
    position: absolute;
    top: 0;
    right: 0;
    border-radius: 0 0 0 25px;
    z-index: -10;
    box-shadow: rgb(127, 127, 127) 5px -5px 20px;
}