section{ 
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
}

.cWrap{
    display: flex;
    justify-content: left;
    align-items: center;
    margin: 0 auto;
    /*background-color: rgba(243, 243, 243, 0.38);*/
    width: 735px;
    height: 100vh;
    mix-blend-mode: color-dodge;
}

.logoWrap{
    width: 150px;
    height: 180px;
    text-align: center;
    display: inline-block;
    margin-right: 20px;
}

.logoWrap p{
    margin: 0;
    color: #0554F2;
    font-family: 'neuwelt_Medium';
    font-size: 2em;
    width: 150px;
}

.pWrap{
    position: relative;
    flex-direction: column;
    /*margin-right: 40%;*/
    height: 345px;
}

.pWrap  p{
    position: absolute;
    font-size: 4.25em;
}

.pWrap p:nth-of-type(1){top: -10px; left: 0; color: rgba(27, 142, 242, 0.37);}
.pWrap p:nth-of-type(2){top: 37px; left: 4px; color: rgba(0, 119, 255, 0.55);}
.pWrap p:nth-of-type(3){top: 85px; left: 0; color: rgba(0, 58, 255, 0.53);}
.pWrap p:nth-of-type(4){top: 132px; left: 0; color: rgba(0, 58, 255, 0.75);}

section img{
    width: 150px;
    height: 150px;
    display: inline-block;
    box-shadow: rgba(128, 128, 128, 0.72) 2px 2px 10px;
    border-radius: 28.555px;
    margin-bottom: -5px;;
}