section{ 
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    position: relative;
}

section .textContent{
    width: 610px;
    height: 200px;
}

h1{
    margin: 340px 0 0 0; 
    font-size: 3em;
}

p{
    font-size: 1.5em;
    display: inline-block;
    margin: 20px 2px 0 0;
}

p:nth-of-type(2){
    color: #0554F2;
    font-family: 'bodoniXT';
}

.dot{border-radius: 1000px; position: absolute;  animation: moveBall alternate infinite;}
.dot1{background-color: #1B8EF2; width: 100px; height: 100px; top: 200px; right: 200px; z-index: -10; animation-duration: 2s;}
.dot2{background-color: #6BB3F2; width: 200px; height: 200px; top: 300px; left: 150px; z-index: -10; animation-duration: 2s;}
.dot3{background-color: #2EDFF2; width: 300px; height: 300px; top: 390px; right: 200px; z-index: -10; animation-duration: 1.5s;}

.rain{width: 2px; position: absolute;}
.rain1{bottom: 0px; left: 330px; height: 600px; background-color: lightgray; z-index: -100;}
.rain2{top: 0px; left: 50vw; width: 1000px; height: 100vh; background-color: #6BB3F2; z-index: -100; opacity: 0.1;}
.rain3{top: 0px; right: 400px; height: 500px; background-color: lightgray; z-index: -100;}

@keyframes moveBall {
    0%{
        transform: translateY(0px);
    }
    100%{
        transform: translateY(20px);
    }
}